# --- App Configuration ---
APP_ENV=<local|production|staging...>

# --- Postgres Configuration ---
POSTGRES_DB=<db name>
POSTGRES_USER=<db user name>
POSTGRES_PASSWORD=<change with your password>
POSTGRES_PORT=5432

## --- Neo4j Configuration ---
NEO4J_DATABASE=<neo4j user id>
NEO4J_USER=neo4j
NEO4J_PASSWORD=change with your password>

# --- MinIO Configuration ---
MINIO_ROOT_USER=<minio user id>
MINIO_ROOT_PASSWORD=change with your password>

# --- Redis Configuration ---
# Note: If you add password protection to the docker-compose command, 
# use this variable. For now, it's used by the Python test script.
REDIS_PORT=6379
REDIS_PASSWORD=change with your password>
REDIS_HOST=localhost
REDIS_QUEUE_INSTANCE=0
REDIS_RESULT_INSTANCE=0



